<div class="jumbotron">
  <h1>Ask ING</h1>
  <div ng-repeat="answer in model.answers">
    <p class="panel h-float-right">
      {{answer.question}}
    </p>
    <p class="panel h-float-left">
      <em>{{answer.userInput}}</em>
    </p>
  </div>
  <div ng-repeat="question in model.questions">
    <p>
      {{question.question}}
    </p>
    <p><input ng-model="question.userInput" ng-keypress="$event.keyCode == 13 && ask()" /></p>
  </div>
  <p>
    <a class="btn btn-lg btn-default" ng-click="reset()">Opnieuw!</a>
    <a class="btn btn-lg btn-primary" ng-click="ask()">Hup!</a>
  </p>
</div>
