<div class="h-text-center">
  <div class="l-pb-2">
    <input ng-model="question.userInput" ng-keypress="$event.keyCode == 13 && ask()" class="input l-w-100" ng-focus/>
  </div>
  <div class="h-inline-block">
    <a class="btn btn-md btn-primary btn-default l-mr-2" ng-click="ask()">Vraag het</a>
    <a class="btn btn-md btn-default" ng-click="reset()">Opnieuw</a>
  </div>

  <div ng-repeat="answer in model.answers">
    <p class="panel panel-bordered">
      {{answer.question}}
    </p>
    <p class="panel panel-bordered">
      <em>{{answer.userInput}}</em>
    </p>
  </div>
  <div ng-repeat="question in model.questions">
    <p>
      {{question.question}}
    </p>
</div>
